<template name="mandrillSettings">
	<div class="mandrill-header pad-bottom">
		<h2>Mandrill Settings</h2>
	</div>


	<form role="form">
	<div class="row">

		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">Munki Repo Options</div>
				<div class="panel-body">
					<div class="form-group {{munkiRepoPathClass}} has-feedback">
						<label for="munkiRepoPath" class="control-label">
							Repo Path
						</label>
						<input
							type="text"
							class="form-control"
							id="munkiRepoPath"
							placeholder="/Users/Shared/munki_repo"
							value="{{settings.munkiRepoPath}}" />
						<span class="fa fa-{{munkiRepoPathFeedbackIcon}} form-control-feedback"></span>
					</div>

					<div class="form-group">
						<label for="SoftwareRepoURL">Software Repo URL</label>
						<input
							type="text"
							class="form-control"
							id="SoftwareRepoURL"
							placeholder="http://example.com/munki"
							value="{{settings.SoftwareRepoURL}}" />
					</div>

					{{#if runningMakeCatalogs}}
						{{> bubbleLoader}}
					{{/if}}
					{{#unless runningMakeCatalogs}}
					<button id="makecatalogs" class="btn btn-default">
						makecatalogs
					</button>
					{{/unless}}

					<div class="checkbox">
						<label>
							<input
								type="checkbox"
								value=""
								id="makeCatalogsIsEnabled" {{makecatalogsIsChecked}} />
							Allow anyone to run `makecatalogs`.
						</label>
					</div>
					<div class="checkbox">
						<label>
							<input
								type="checkbox"
								value=""
								id="makeCatalogsSanityIsDisabled" {{makecatalogsDisableSanityIsChecked}} />
							Disable sanity checks (`makecatalogs -f`).
						</label>
					</div>
				</div>
			</div>
		</div>


		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Git Settings</div>
				<div class="panel-body">
					<div class="checkbox">
						<label>
							<input
								type="checkbox"
								value=""
								id="gitIsEnabled" {{gitIsChecked}} />
							Enable git.
						</label>
					</div>
					{{#if settings.gitIsEnabled}}
					<div class="form-group">
						<label for="gitBinaryPath" class="control-label">
							Path to git
						</label>
						<input
							type="text"
							class="form-control"
							id="gitBinaryPath"
							placeholder="/usr/bin/git"
							value="{{settings.gitBinaryPath}}" />
					</div>
					{{/if}}
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Mandrill Options</div>
				<div class="panel-body">
					<button id="rebuildCaches" class="btn btn-default btn-block">
						Rebuild Repo Caches
					</button>
					<span class="help-block">
						Mandrill caches the manifests, pkgsinfo, and
						catalogs in your repo via filesystem
						watchers. In the unlikely event those
						watchers start missing some changes, this
						button will purge the database and restart
						the watcher processes.
					</span>
				</div>
			</div>
		</div>
	</div>

	</form>

</template>
