div.login-body {
	background: #272822; /* Old browsers */
	background: -moz-linear-gradient(top,  #272822 0%, #424138 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#272822), color-stop(100%,#424138)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #272822 0%,#424138 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #272822 0%,#424138 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #272822 0%,#424138 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #272822 0%,#424138 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#272822', endColorstr='#424138',GradientType=0 ); /* IE6-9 */



	color: #aaa;
	text-shadow: 0 -1px 0 #000;

	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}


div.login-other-services {
	background-color: rgba(0, 0, 0, 0.1);
	padding: 15px;
	margin: 15px 0 0 0;
	border-top: 1px solid #444;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 7px 10px -7px rgba(255,255,255, 0.5);

}



form.form-login {
	max-width: 330px;
	padding: 15px;
	margin: 10% auto 0 auto;
}


form.form-login input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}


form.form-login input[type="password"] {
	margin-top: -1px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}