@import '../layout/globalVars.import.styl'


div.login-body
	position fixed
	height 100%
	min-height 100%
	width 100%
	margin 0
	padding  0 0 0
	top 0

	h2
		font-family 'Lato', 'Helvetica'
		font-weight 300

		img
			width 32px
			height 32px
			vertical-align text-bottom


	.login-other-services
		background-color rgba(0, 0, 0, 0.1)
		padding 15px
		margin 15px 0 0 0
		border-top 1px solid #444
		border-bottom 1px solid #aaa
		box-shadow 0 7px 10px -7px rgba(255,255,255, 0.5)



	.form-login-container
		display block
		top 50%
		left 50%
		width 300px
		height 300px
		margin-top -150px
		margin-left -150px
		position fixed
		padding 0

		.bubble-loader
			margin 125px auto

		h2
			margin 0 0 15px 0
			padding 0

		form
			margin 0
			padding 0


		input[type="text"]
			margin-bottom -1px
			border-bottom-left-radius 0px
			border-bottom-right-radius 0px

		input[type="password"]
			margin-top -1px
			border-top-left-radius 0px
			border-top-right-radius 0px
