<template name="serverStatusDialog">
	{{watchConnectionStatus}}
	<div id="meteor_connection_status_dialog"
		class="alert alert-warning mandrill-dialog text-center elastic {{className}}">
		{{#if title}}<h5>{{title}}</h5>{{/if}}
		{{#unless title}}<h5>Test Title</h5>{{/unless}}
		<p>
			{{body}}
			{{#unless body}}Lorem Ipsum and whatnot.{{/unless}}
		</p>
		{{#if isWaiting}}
		<p>
			<button class="btn btn-primary btn-xs"
					id="meteorRetryNowButton">
				Retry Now
			</button>
		</p>
		{{/if}}
	</div>
</template>
