div.mandrill-warning
	color #8a6d3b
	background-color rgba(252, 248, 227, 0.95)
	border solid 2px #faebcc
	border-radius 4px
	position fixed
	width 400px
	top 50px
	left 50%
	margin-left -200px
	min-height 75px
	padding 5px
	z-index 10000
	box-shadow 5px 10px 14px rgba(0, 0, 0, 0.45)