.mandrill-dialog
	border-radius 4px
	position fixed
	width 400px
	top 50px
	left 50%
	margin-left -200px
	min-height 75px
	padding 10px
	z-index 10000
	box-shadow 5px 10px 14px rgba(0, 0, 0, 0.45)


	button.close
		right 0
		top 0


.mandrill-dialog.mandrill-warning
	color #ffffff
	background-color rgba(248, 148, 6, 0.95)
	border solid 2px #e96506
