div.mandrill-warning
	color #8a6d3b
	background-color rgba(252, 248, 227, 0.95)
	border solid 2px #faebcc
	border-radius 4px
	position fixed
	width 400px
	top 50px
	left 50%
	margin-left -200px
	min-height 75px
	padding 5px
	z-index 10000
	transform scale(0)
	opacity 0
	box-shadow 5px 10px 14px rgba(0, 0, 0, 0.45)

div.mandrill-warning.fade-in
	animation fade-in-and-scale 250ms linear
	transform scale(1)
	opacity 1

div.mandrill-warning.fade-out
	animation fade-out-and-scale 250ms linear
	transform scale(0)
	opacity 0
	


@keyframes fade-in-and-scale
	0%
		transform scale(0)
		opacity 0
	60%
		transform scale(1.1)
		opacity 0.6
	80%
		transform scale(0.9)
		opacity 0.8
	100%
		transform scale(1)
		opacity 1


@keyframes fade-out-and-scale
	0%
		transform scale(1)
		opacity 1
	20%
		transform scale(0.9)
		opacity 0.8
	40%
		transform scale(1.1)
		opacity 0.6
	100%
		transform scale(0)
		opacity 0