[data-memedit="adminNotes"]
    font-family "Courier New", "Lucida Console"
    font-size 90%
    min-height 150px
    max-width 100%


*.munki-manifest-list-group

    &>*.list-group-item
        padding 0

        span.munki-manifest-pkgName
            display inline-block
            margin 5px 0 0 0


    .munki-manifest-conditions

        margin 0
        padding 0

        .ui-sortable-helper:before,
        .sortable-list-group-item:before
            color rgba(0,0,0,0.0) !important

        .ui-sortable-helper
            background-color rgba(200,200,200,0.8) !important

        .list-group-item
            padding 4px
            color rgba(0,0,0,0.5)
            font-weight bold
            text-shadow 0 1px 0 rgba(255,255,255,0.7)
            border-color rgba(175,175,175, 0.3)
            background-color rgba(100,100,100,0.1)

            &:first-child
            &:last-child
                border-radius 0

        .list-group-item:first-of-type:before
            content 'IF:'
            color rgba(0,0,0,0.3)
            display inline-block
            width 3em
            text-align right
            text-shadow none
            font-weight bold
            font-family "Courier New", "Lucida Console"

        .list-group-item:first-of-type
            border-top-width 2px

        .list-group-item:not(:first-of-type):before
            content 'AND:'
            color rgba(0,0,0,0.3)
            display inline-block
            width 3em
            text-align right
            text-shadow none
            font-weight bold
            font-family "Courier New", "Lucida Console"
