<template name="manifestsBrowser">

<div class="mandrill-header pad-bottom">
	<div class="row">
		<div class="col-sm-10">
			<input
				id="manifest_search"
				type="text"
				class="form-control input-lg typeahead"
				placeholder="Search for a manifest by name."
				data-source="ac_manifests"
				data-selected="ac_manifests_selected"
				autocomplete="off"
				spellcheck="false"
				autofocus
				value="{{active_manifest_name}}" />
		</div>

		<div class="col-sm-2">
			<button
				id="create_manifest_btn"
				class="btn input-lg btn-primary btn-block
				{{#unless can_create_manifest}}disabled{{/unless}}"
				type="button">Create</button>
		</div>
	</div>
</div>


{{#unless active_manifest.dom}}
	<p class="lead text-center">
		<h1>
			<span class="glyphicon glyphicon-hand-up"></span>
			Start by typing a manifest's name
		</h1>
	</p>
{{/unless}}



{{#if active_manifest.dom}}
	{{#unless show_text_editor}}
		{{#if active_manifest.dom.conditional_items}}
		<div class="alert alert-warning">
			<strong>Warning!</strong> You'll need to switch to the
			<a href="#plist">text view</a> in order to view the <code>conditional_items</code> within this manifest.
		</div>
		{{/if}}
	{{/unless}}

<div class="panel panel-default manifest-body">
	<div class="panel-heading">
		<h4>
			<div class="btn-toolbar pull-right">
				<div class="btn-group btn-group-xs pull-right">
					<button
						type="button"
						id="switch_to_manifest_form"
						class="
							btn btn-default
							{{#unless show_text_editor}}active{{/unless}}
							{{#if active_manifest_has_changes}}disabled{{/if}}"
					>
						<span class="glyphicon glyphicon-list"></span>
						Form view
					</button>
					<button
						type="button"
						id="switch_to_manifest_plist"
						class="
							btn btn-default
							{{#if show_text_editor}}active{{/if}}
							{{#if active_manifest_has_changes}}disabled{{/if}}">
						&lt;/&gt;
						Text view
					</button>
				</div>
			</div>
			<div class="btn-toolbar">
				<button
					type="button"
					id="save_manifest_btn"
					class="btn btn-xs btn-primary {{#unless active_manifest_has_changes}}disabled{{/unless}}"
				>Save Changes</button>
				{{#if active_manifest_has_changes}}
				<button
					type="button"
					id="discard_changes"
					class="btn btn-xs btn-warning elastic-in"
				>
					Discard Changes
				</button>
				{{/if}}
				{{#unless show_text_editor}}
				<button
					class="btn btn-default btn-xs {{#unless session_get 'search_ignores_versions'}}btn-warning{{/unless}}"
					id="search_ignores_versions_btn"
				>
					<span
						class="glyphicon
							{{#if session_get 'search_ignores_versions'}}
								glyphicon-check
							{{/if}}
							{{#unless session_get 'search_ignores_versions'}}
								glyphicon-unchecked
							{{/unless}}"></span>
					Use the latest pkgs
				</button>
				{{/unless}}
			</div>
		</h4>
	</div>

	<div class="panel-body">

		{{#if show_text_editor}}
			{{> manifest_editor}}
		{{/if}}
		{{#unless show_text_editor}}
			{{#with active_manifest.dom}}
			{{> manifestForm}}
			{{/with}}
		{{/unless}}

	</div>
</div>
{{/if}}
</template>