<template name="me">
	<div class="mandrill-header pad-bottom">
		<h2>My Account</h2>
	</div>

	<div class="row">

		<div class="col-sm-6">
			<form class="form" id="changePasswordForm">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">Change Your Mandrill Password</h3>
					</div>
					<div class="panel-body">
						<p class="help-block small">
							This will only affect your Mandrill password. Google and Github accounts will not be affected.
						</p>
						<div class="form-group">
							<label for="currentPassword">Current Password</label>
							<input type="password" class="form-control" id="currentPassword" />
						</div>
						<div class="form-group">
							<label for="newPassword">New Password</label>
							<input type="password" class="form-control" id="newPassword" />
						</div>
						<div class="form-group">
							<label for="verifyPassword">Verify</label>
							<input type="password" class="form-control" id="verifyPassword" />
						</div>
					</div>
					<div class="panel-footer text-center">
						{{#unless changingPassword}}
						<button type="submit" {{formIsDisabled}} id="changePasswordSubmit" class="btn btn-primary form-control">Change your password</button>
						{{/unless}}
						{{#if changingPassword}}
							<i class="fa fa-circle-o-notch fa-spin"></i>
						{{/if}}
					</div>
				</div>
			</form>
		</div>

		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Change Your Display Name</h3>
				</div>
				<div class="panel-body">
					<p class="help-block small">
						Your name comes from either Google or Github. If you don't like it, change it.
					</p>
					<div class="form-group">
						<label for="changeFullName">Display Name</label>
						<input type="text" class="form-control" id="changeFullName" value="{{profile.name}}"/>
					</div>
				</div>
			</div>
		</div>

	</div>
</template>
