@import "../../layout/globalVars.import.styl"

.navbar-mandrill
	background #e8e8e8
	background linear-gradient(to bottom,  #e8e8e8 0%,#bfbfbf 100%)
	border-bottom 1px solid rgb(106, 106, 106)

	.dropdown
		a
			color #333
			text-shadow 0px 1px 0px #eee

		a:hover, a:focus
			background-color rgb(61, 128, 214)
			color #fff
			text-shadow 0px -1px 0px #555


	.navbar-toggle .icon-bar
		background-color #fff
	.navbar-toggle, .navbar-toggle:hover
		background-color #6d6d6d
		background-image linear-gradient(#8c8c8c, #6d6d6d)
		background-repeat repeat-x
		border 1px solid #707070
		border-bottom-color #595959
		color #fff
		text-shadow 0 -1px 0 rgba(0,0,0,0.25)
		@media screen and (min-width: 768px)
			display none
	.navbar-toggle:hover, .navbar-toggle.hover
		border-color #585858
	.navbar-toggle:active, .navbar-toggle.active
		background-color #545454
		background-image none
		border-color #474747
		box-shadow inset 0 3px 5px rgba(0,0,0,0.15)


/* Ace Editor components */
p.editor-title
	height 25px
	font-family 'Lato'
	font-size 10pt
	font-weight 300
	margin -20px 0 20px 0
	padding 2px

	color #fff
	text-align center
	box-shadow inset 1px 1px 10px rgba(0, 0, 0, 0.5)
	background header_bg_color


#aceEditor
	margin-top -20px
/* /Ace Editor components */