<template name="MandrillEditor">

	<div class="borderless-container">

		<div class="navbar navbar-mandrill navbar-static-top">
			{{editorMenu}}
			{{#if workingOnDocument}}
			<span class="navbar-text navbar-right" style="position: absolute; top: -30px; right: 15px;">
				{{> bubble-loader}}
			</span>
			{{/if}}
		</div>

		<p class="editor-title">{{documentTitle}}</p>

		{{#constant}}
		<div id="aceEditor">{{documentBody}}</div>
		{{/constant}}

	</div>
{{#isolate}}
{{> gitLogs}}
{{/isolate}}
</template>