<template name="MandrillEditorMenu">
	<ul class="nav navbar-nav">
		{{#each menuItems}}
		<li class="dropdown">
			<a	href="#"
				class="dropdown-toggle MandrillEditor-menu"
				data-toggle="dropdown">
				{{title}}
			</a>
			<ul class="dropdown-menu">
				{{#each submenus}}
				{{#unless command}}
				<li class="divider"></li>
				{{/unless}}
				{{#if command}}
				<li>
					<a	href="#"
						class="MandrillEditor-menu-command"
						data-menu-command="{{this.command.name}}">

						<span class="pull-right text-muted">
							{{cmdKeyBinding}}
						</span>
						{{title}}
					</a>
				</li>
				{{/if}}
				{{/each}}
			</ul>
		</li>
		{{/each}}
	</ul>
</template>