<template name="othertools">
	<div class="mandrill-header pad-bottom">
		<h2>Other Tools</h2>
	</div>

	<p class="text-center">
		If your team uses other tools, why not make them a little easier to access from Mandrill?
	</p>

	<hr />

	<form class="form" role="form">
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th>Link Text</th>
				<th colspan="2">Link Target</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>						
					<div class="form-group">
						<label class="sr-only" for="displayText">Display Text</label>
						<input type="text" class="form-control input-sm" id="displayText" placeholder="Display Text"/>
					</div>
				</td>
				<td>
					<div class="form-group">
						<label class="sr-only" for="linkUrl">URL</label>
						<input type="text" class="form-control input-sm" id="linkUrl" placeholder="http://example.com/"/>
					</div>
				</td>
				<td>
					<button type="submit" data-toggle="tooltip" title="Insert new link" class="btn btn-link">
						<i class="glyphicon glyphicon-plus-sign text-success"></i>
					</button>
				</td>
			</tr>
	{{#each tools}}
			<tr>
				<td class="edit-display-text">
					<span>{{displayText}}</span>
					<input type="text" class="form-control input-sm hidden edit-display-text-field" value="{{displayText}}"/>
				</td>
				<td class="edit-link-url">
					<span class="mandrill-show">{{linkUrl}}</span>
					<input type="text" class="form-control input-sm hidden edit-link-url-field" value="{{linkUrl}}"/>
				</td>
				<td>
					<button type="button" class="btn btn-link delete-link">
						<i class="glyphicon glyphicon-trash text-danger"></i>
					</button>
				</td>
			</tr>
	{{/each}}
		</tbody>
	</table>
	</form>
</template>