<template name="gitLogs">
	<div class="modal fade bs-modal-lg" id="gitLogsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				{{#isolate}}
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Git Logs <span class="badge">{{numberOfLogs}}</span></h4>
				</div>
				{{/isolate}}
				<div class="modal-body">
					{{#isolate}}
					<table class="table table-condensed table-striped">
						<thead>
							<tr>
								<th>Hash</th>
								<th>Author</th>
								<th>Date</th>
								<th>Subject</th>
							</tr>
						</thead>
						<tbody>
						{{#each gitLogs}}
							<tr>
								<td>{{hash}}</td>
								<td>{{authorName}}</td>
								<td title="{{authorDate}}">{{momentFromNow authorDate}}</td>
								<td>{{subject}}</td>
							</tr>
							{{#if body}}
							<tr>
								<td></td>
								<td colspan="3">
									<pre class="pre-scrollable">{{body}}</pre>
								</td>
							</tr>
							{{/if}}
						{{/each}}
						</tbody>
					</table>
					{{/isolate}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</template>