@import "../globalVars.styl"

#appSidebar
	position fixed
	font-size 9pt
	width 200px
	background-color rgb(39, 40, 34)
	color #ddd
	padding 0
	overflow auto
	z-index 9990

	ul.sidebar-nav
		padding 0
		margin 0

		li.sidebar-nav-header
			color #ddd
			font-weight bold
			padding 13px 10px 2px 5px
			text-transform uppercase
			text-shadow 0 -1px 0 #666
			letter-spacing 2px

		li.active
			box-shadow inset 10px -5px 10px -7px #000
			text-shadow 0 -1px 0 #555

			background #1e5799 /* Old browsers */
			background header_bg_color

			a
				color #eee !important
				span.badge
					background-color rgba(255, 255, 255, 0.8)
					color #444
					text-shadow none
					box-shadow inset 1px 0px 3px #111
				&:hover
					background header_bg_color_hover
					text-decoration none

		li
			button.btn-block
				margin 2px 10px 2px 15px
				width 175px

			div.bubble-loader
				margin 0 0 0 34px

			a
				padding 2px 10px 2px 15px
				display block

				span.label
					margin 2px 0 0 5px

				span.badge
					color #555
					background-color rgba(255, 255, 255, 0.8)
					box-shadow inset 1px 0px 2px #555
					text-shadow 0 0 0 rgba(0,0,0,0)
					margin -1px 0 0 0

			&:not(.active) a:hover
				background-color rgb(59, 60, 54)
				color lightblue
				text-decoration none

				span.badge
					color #333
					background-color rgba(255, 255, 255, 0.95)
					text-shadow 0 0 0 rgba(0,0,0,0)



#mandrill_logo
	box-shadow 0 -3px 15px -10px #fff
	text-align center
	background-color rgb(29, 30, 24)
	padding 5px 0
	margin 0
	width 200px
	height 25px
	font-family 'Lato'
	font-weight 300
	font-size 9pt
	position fixed
	bottom 0
	left 0
	letter-spacing 4px
	z-index 9999