<template name="repo_toolbar">


    <div class="modal fade" id="newRepoItemModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">New Munki Repo File</h4>
                </div>
                <div class="modal-body">
                    <input
                        type="text"
                        id="newRepoItemPath"
                        class="form-control"
                        value="{{crumb}}" />
                    {{#if session_equals 'creating_new_repo_item' true}}
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active"  role="progressbar" style="width: 100%">
                            <span class="sr-only">Loading data</span>
                        </div>
                    </div>
                    {{/if}}
                </div>
                <div class="modal-footer">
                    <div class="pull-left btn-group" id="newRepoItemTpl">
                        <button
                        type="button"
                        data-tpl="text"
                        class="btn btn-default">
                            Empty Text File
                        </button>
                        <button
                        type="button"
                        data-tpl="manifest"
                        class="btn btn-default">
                            Manifest
                        </button>
                        <button
                        type="button"
                        data-tpl="pkginfo"
                        class="btn btn-default">
                            Pkginfo
                        </button>
                    </div>
                    <button id="newRepoItemCreate" type="button" class="btn btn-primary">
                        <i class="fa fa-plus-square"></i>
                        Create It
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <div class="col-sm-4">
        <div class="btn-group btn-group-justified">
            <a href="#" id="new_repo_item"
                        class="btn btn-default"
                        data-toggle="modal"
                        data-target="#newRepoItemModal">
                <span class="fa fa-plus"></span>
                <span class="hidden-xs">New</span>
            </a>
            <a id="repo_edit" href="#" class="
                btn
                {{#unless session_get 'repo_edit_mode'}}
                    btn-default
                {{/unless}}
                {{#if session_get 'repo_edit_mode'}}
                    btn-warning
                    active
                {{/if}}">
                <span class="fa fa-pencil"></span>
                <span class="hidden-xs">
                {{#if session_get 'repo_edit_mode'}}
                    Done
                {{/if}}
                {{#unless session_get 'repo_edit_mode'}}
                    Edit
                {{/unless}}
                </span>
            </a>
        </div>
    </div>


    <div class="col-sm-8">
        <input
            type="search"
            id="repo_search"
            class="form-control search"
            placeholder="{{session_get 'repo_filter'}}{{#unless session_get 'repo_filter'}}Search{{/unless}}" />
    </div>

</template>
