<template name="repo">
<div class="mandrill-header">
    <h2>Munki Repo</h2>
    {{>munkiBreadcrumbs}}
</div>


<div class="container-fluid">
    {{>repo_toolbar}}

    <hr />

    <div class="{{#unless session_equals 'repo_readme' false}}col-lg-8{{/unless}}{{#if session_equals 'repo_readme' false}}col-xs-12{{/if}}">

        <div class="list-group">
            {{#each dir_listing}}
            <a href="{{editUrl}}" class="list-group-item has-delete-button">
                <div class="row">
                    <div class="col-sm-4 col-xs-8">
                        <span class="text-nowrap" style="overflow: auto">
                            {{#unless is_leaf}}
                            <i class="fa fa-folder text-info"></i>
                            {{/unless}}
                            {{#if is_leaf}}
                                {{#if hasIcon}}
                                    {{#if icon_name}}
                                    {{>munki_pkg_icon pkg=icon_name size='sm'}}
                                    {{/if}}
                                    {{#if dom.name}}
                                    {{>munki_pkg_icon pkg=dom.name size='sm'}}
                                    {{/if}}
                                {{/if}}
                                {{#unless hasIcon}}
                                    <i class="fa fa-file"></i>
                                {{/unless}}
                            {{/if}}
                            {{name}}
                        </span>
                    </div>


                    <div class="col-sm-4 hidden-xs">
                        {{#if is_leaf}}
                        {{#each this.dom.catalogs}}
                            <span class="label label-default">{{this}}</span>
                        {{/each}}
                        {{/if}}
                    </div>

                    <div class="col-xs-4 text-right">
                        {{#if is_leaf}}
                            {{#unless is_protected}}
                            <a
                                href="#"
                                data-repo-item-name="{{name}}"
                                class="
                                    mandrill-repo-delete
                                    {{#if session_get 'repo_edit_mode'}}
                                        mandrill-repo-delete-visible
                                    {{/if}}"
                            >
                                Delete
                            </a>
                            {{/unless}}
                            <small
                                class="text-muted text-nowrap repo-mtime
                                    {{#if session_get 'repo_edit_mode'}}
                                        mandrill-repo-delete-visible
                                    {{/if}}"
                                title="{{this.stat.mtime}}">
                                {{timeago this.stat.mtime}}
                            </small>
                        {{/if}}
                    </div>
                </div>
            </a>
            {{/each}}
            {{#if moreResultsPossible}}
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="lead text-center">
                        Showing {{session_get 'results_length'}} results, but
                        there <em>might</em> be more.
                        <button type="button" class="btn btn-default" data-load="more">
                            Load 25 More
                        </button>
                    </p>
                </div>
            </div>
            {{/if}}
        </div>



        {{#unless session_get 'results_length'}}
        <div class="panel panel-default">
            <div class="panel-body">
                {{#if session_get 'repo_filter'}}
                Nothing in your repo matches
                <strong> {{session_get 'repo_filter'}}</strong>
                {{/if}}
                {{#unless session_get 'repo_filter'}}
                Weird, there doesn't seem to be any data here. o_0
                {{/unless}}
            </div>
        </div>
        {{/unless}}

    </div>

    <div class="col-lg-4">
        {{detect_readme}}
        {{#unless session_equals 'repo_readme' false}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5><i class="fa fa-file-text"></i> README.md</h5>
            </div>
            <div class="panel-body">
                {{#if session_equals 'repo_readme' true}}
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active"  role="progressbar" style="width: 100%">
                        <span class="sr-only">Loading README.md...</span>
                    </div>
                </div>
                {{/if}}
                {{#unless session_equals 'repo_readme' true}}
                {{#markdown}}{{session_get 'repo_readme'}}{{/markdown}}
                {{/unless}}
            </div>
        </div>
        {{/unless}}
    </div>

</div>
</template>
