div.newManifestForm {
	height: 40px;
	overflow: hidden;
	-webkit-transition: height 0.25s ease;
	-moz-transition: height 0.25s ease;
	-o-transition: height 0.25s ease;
	transition: height 0.25s ease;
}


div.newManifestFormClosed {
	overflow: hidden;
	height: 0;
}