<template name="repo">
<div class="mandrill-header">
    <h2>Munki Repo</h2>
</div>


<div class="container-fluid">
{{>repo_toolbar}}
</div>

<div class="container-fluid">

    <div class="{{#if readme}}col-lg-8{{/if}}">

        <div class="panel panel-default visible-xs">
            <div class="panel-heading">
                Your are here.
            </div>
            <ul class="list-group">
            {{#each breadcrumb.reverse}}
                <li class="list-group-item">
                    <i class="fa fa-folder-open-o text-info"></i>
                    {{#if is_active}}
                        {{name}}
                        <span class="badge">
                            {{session_get 'results_length'}}
                        </span>
                    {{/if}}
                    {{#unless is_active}}
                    <a href="{{url}}">{{name}}</a>
                    {{/unless}}
                </li>
            {{/each}}
            </ul>
        </div>

        <ol class="breadcrumb visible-sm visible-md visible-lg">
        {{#each breadcrumb}}
            <li class="{{#if is_active}}active{{/if}}">
                {{#if is_active}}
                    {{name}}
                    <span class="badge">{{session_get 'results_length'}}</span>
                {{/if}}
                {{#unless is_active}}
                <a href="{{url}}">{{name}}</a>
                {{/unless}}
            </li>
        {{/each}}
        </ol>


        <div class="panel panel-primary">

            <table class="table">
            <tbody>
            {{#each dir_listing}}
            <tr>
                <td>
                    {{#unless is_protected}}
                    <a
                        href="#"
                        class="
                            mandrill-repo-delete
                            {{#if session_get 'repo_edit_mode'}}
                                mandrill-repo-delete-visible
                            {{/if}}"
                    >
                        Delete
                    </a>
                    {{/unless}}

                    {{#unless is_leaf}}
                    <i class="fa fa-folder text-info"></i>
                    {{/unless}}

                    {{#if is_leaf}}
                        <span title="{{formatBytes this.stat.size}}">
                            {{#if pkgsinfo_icon}}
                                <img
                                    src="{{pkgsinfo_icon}}"
                                    class="repo_pkgicon" />
                            {{/if}}
                            {{#unless pkgsinfo_icon}}
                                <i class="fa fa-file"></i>
                            {{/unless}}
                        </span>
                    {{/if}}

                    <a href="{{url}}">
                        <span title="{{name}}">
                            {{name}}
                            {{#if this.dom.display_name}}
                            <span class="text-muted">
                                - {{this.dom.display_name}}
                            </span>
                            {{/if}}
                        </span>
                    </a>
                </td>

                <td>
                    {{#if is_leaf}}
                    {{#each this.dom.catalogs}}
                        <span class="label label-default">{{this}}</span>
                    {{/each}}
                    {{/if}}
                </td>

                <td>
                    {{#if is_leaf}}
                    <small class="text-muted" title="{{this.stat.mtime}}">
                        {{timeago this.stat.mtime}}
                    </small>
                    {{/if}}
                </td>
            </tr>
            {{/each}}
            </tbody>
            </table>


            {{#unless session_get 'results_length'}}
            <div class="panel-body">
                {{#if session_get 'repo_filter'}}
                Nothing in your repo matches
                <strong> {{session_get 'repo_filter'}}</strong>
                {{/if}}
                {{#unless session_get 'repo_filter'}}
                Weird, there doesn't seem to be any data here. o_0
                {{/unless}}
            </div>
            {{/unless}}
        </div>

    </div>

    {{#if readme}}
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5><i class="fa fa-file-text"></i> README.md</h5>
            </div>
            <div class="panel-body">
                {{#markdown}}{{readme}}{{/markdown}}
            </div>
        </div>
    </div>
    {{/if}}

</div>
</template>
