<template name="repo_toolbar">

    <div class="container-fluid">
        <div class="col-sm-6">
            <div class="btn-group btn-group-justified">
                <a href="{{dot_dot_url}}" class="btn btn-default {{#unless dot_dot_url}}disabled{{/unless}}">
                    <span class="fa fa-chevron-left"></span>
                    <span class="hidden-xs">../</span>
                </a>
                <a href="#" id="new_repo_item" class="btn btn-default">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-xs">New</span>
                </a>
                <a id="repo_edit" href="#" class="
                    btn
                    {{#unless session_get 'repo_edit_mode'}}
                        btn-default
                    {{/unless}}
                    {{#if session_get 'repo_edit_mode'}}
                        btn-warning
                        active
                    {{/if}}">
                    <span class="fa fa-pencil"></span>
                    <span class="hidden-xs">
                    {{#if session_get 'repo_edit_mode'}}
                        Done
                    {{/if}}
                    {{#unless session_get 'repo_edit_mode'}}
                        Edit
                    {{/unless}}
                    </span>
                </a>
            </div>
        </div>


        <div class="col-sm-6">
            <input
                type="search"
                id="repo_search"
                class="form-control search"
                placeholder="{{session_get 'repo_filter'}}{{#unless session_get 'repo_filter'}}Search{{/unless}}" />
        </div>
    </div>

</template>
