<template name="repo_toolbar">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">

            <ul class="nav navbar-nav navbar-left">
                <li class="{{#unless dot_dot_url}}disabled{{/unless}}">
                    <a href="{{dot_dot_url}}">
                        <span class="fa fa-chevron-left">
                        </span>
                        ../
                    </a>
                </li>
                <li>
                    <a href="#" id="new_repo_item">
                        <span class="fa fa-plus"></span>
                        New
                    </a>
                </li>
                <li class="
                    {{#if session_get 'repo_edit_mode'}}
                        active
                    {{/if}}">
                    <a id="repo_edit" href="#">
                        <span class="fa fa-pencil"></span>
                        {{#if session_get 'repo_edit_mode'}}
                            Done
                        {{/if}}
                        {{#unless session_get 'repo_edit_mode'}}
                            Edit
                        {{/unless}}
                    </a>
                </li>
            </ul>


            <form class="navbar-right navbar-form">
                <div class="form-group has-feedback">
                    <input
                        type="search"
                        id="repo_search"
                        class="form-control search"
                        placeholder="{{session_get 'repo_filter'}}{{#unless session_get 'repo_filter'}}Search{{/unless}}" />
                    <i class="fa fa-search form-control-feedback"></i>
                </div>
            </form>

        </div>
    </nav>
</template>
