<template name="repo">
  <p class="lead text-warning">Github inspired navigation</p>


  <ol class="breadcrumb">
    {{#each breadcrumb}}
      {{#if is_active}}
      <li class="active">
        {{name}}
        <span class="badge">{{dir_listing.length}}</span>
      </li>
      {{/if}}
      {{#unless is_active}}
      <li><a href="{{url}}">{{name}}</a></li>
      {{/unless}}
    {{/each}}
  </ol>

<div class="panel">
  <table class="table table-bordered">
    <tbody>
    {{#if dot_dot_url}}
    <tr>
      <td>
        <span class="glyphicon glyphicon-chevron-up" style="visibility: hidden"></span>
        <a href="{{dot_dot_url}}">..</a>
      </td>
    </tr>
    {{/if}}
    {{#each dir_listing}}
    <tr>
      <td>
        {{#unless is_leaf}}
        <span class="glyphicon glyphicon-folder-close text-info"></span>
        {{/unless}}
        {{#if is_leaf}}
        <span class="glyphicon glyphicon-file"></span>
        {{/if}}
        <a href="{{url}}">{{name}}</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
  </table>
</div>

</template>
