<template name="remove_btn">
	<a
		href="#"
		tabindex="-1"
		class="elastic pull-right text-danger remove-btn"
	>
		<span class="glyphicon glyphicon-remove-circle"></span>
	</a>
</template>


<template name="manifestForm">
<div class="row">
	<div class="col-sm-9">
		<div class="row">
			<div class="col-md-12">
				<textarea
					id="admin_notes"
					class="form-control low-profile"
					placeholder="Add your notes here."
				>{{admin_notes}}</textarea>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{#with 'managed_installs'}}
				{{> manifest_installer_item}}
				{{/with}}
			</div>
			<div class="col-md-6">
				{{#with 'optional_installs'}}
				{{> manifest_installer_item}}
				{{/with}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				{{#with 'managed_updates'}}
				{{> manifest_installer_item}}
				{{/with}}
			</div>
			<div class="col-md-6">
				{{#with 'managed_uninstalls'}}
				{{> manifest_installer_item}}
				{{/with}}
			</div>
		</div>
	</div>
	<div class="col-sm-3">
		<fieldset class="catalogs">
			<legend>Catalogs</legend>
			<input
				type="text"
				id="select_catalogs_field"
				class="low-profile form-control input-sm typeahead"
				placeholder="+ catalog"
				data-source="ac_catalogs"
				data-selected="ac_manifest_field_selected" />
			<ul class="list-unstyled hover">
				{{#each catalogs}}
				<li class="elastic-in has-remove-btn">
					{{this}}
					{{> remove_btn}}
				</li>
				{{/each}}
			</ul>
		</fieldset>
		<fieldset class="included_manifests">
			<legend>Included Manifests</legend>
			<input
				type="text"
				id="select_included_manifests_field"
				class="form-control input-sm low-profile typeahead"
				placeholder="+ manifest"
				data-source="ac_manifests"
				data-selected="ac_manifest_field_selected" />
			<ul class="list-unstyled hover">
				{{#each included_manifests}}
				<li class="elastic-in has-remove-btn">
					{{this}}
					{{> remove_btn}}
				</li>
				{{/each}}
			</ul>
		</fieldset>
	</div>
</div>
</template>