<head>
	<title>Mandrill</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/mandrill-60x60.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/mandrill-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/mandrill-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/mandrill-152x152.png">
	<script src="/countdown.min.js"></script>
	<script src="/moment-countdown.min.js"></script>
</head>

<template name="appLayout">
	{{#if currentUser}}
		{{> appNavbar}}
		{{> yield}}
		<hr />
		<p class="app-footer small text-muted text-center">
			<a href="https://github.com/wollardj/Mandrill" target="_blank">
				Mandrill {{mandrillVersion}}
			</a> on <a href="https://www.meteor.com" target="_blank">
				Meteor {{meteorVersion}}
			</a>
		</p>
	{{/if}}

	{{#unless currentUser}}
	{{> yield}}
	{{/unless}}

	{{> serverStatusDialog}}
</template>
