@import 'globalVars.import.styl'


body
	padding 50px 0 0 0



// Remove container and container-fluid padding on phones.
@media screen and (max-width: 978px)
	.container:not(.mandrill-nav), .container-fluid:not(.mandrill-nav)
		padding 0
		margin 0



.mandrill-header
	text-align center
	box-shadow inset 0px -10px 10px -10px rgba(0,0,0,0.7)
	margin 0 0 15px 0
	padding 15px
	background header_bg_color

	h1, h2, h3, h4, h5, h6
		color #fff
		text-shadow 0 -1px 0 rgba(0, 0, 0, 0.7)
		display block
		font-family 'Lato', sans-serif
		font-weight 300

		small, .small
			color rgba(255, 255, 255, 0.8)



p.app-footer
	font-family 'Lato', sans-serif
	font-weight 300





// asana-style form fields (borders are hidden unless mouse over or focus)
input.low-profile
textarea.low-profile
	background-color transparent
	border-radius 3px
	border 1px solid transparent
	box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.0)
	color #777
	height 25px
	padding 1px 5px
	transition all 200ms

	&:hover:not(:focus)
		background-color white
		border 1px solid rgb(203, 203, 203)
		box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
	&:focus
		background-color white
		border 1px solid rgb(183, 183, 183)
		box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)

	&.search
		width 60px

		&:focus
			outline none
			height 40px
			width 400px
			box-shadow inset 0 1px 1px rgba(0, 0, 0, .1)




// Typeahead classes
.tt-dropdown-menu
	background-color rgba(255, 255, 255, 0.9)
	padding 0px
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.7)
	min-width 170px
	border-radius 3px 3px 5px 5px
	p
		padding 5px
		margin 0
		white-space pre

	.tt-suggestions
		padding 0

		.tt-suggestion:first-of-type
			border-radius 3px 3px 0 0
		.tt-suggestion:last-of-type
			border-radius 0 0 5px 5px

		.tt-suggestion
			margin 0
			white-space nowrap
			color #444
			text-align left
			font-size 12pt
			padding 1px 5px


		.tt-cursor
			background linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%)
			color white
			text-shadow 0 -1px 0 rgba(0, 0, 0, 0.7)



// Ace Editor
.mandrill-aceEditor
	display block
	height 560px
