<template name="notFound">
	<div class="mandrill-header">
		<h2>404 - Oops. You broke it.</h2>
	</div>

	<br />
	<br />
	<div class="container">
		<div class="col-md-4 col-md-offset-4">
			<div class="panel panel-danger" style="font-family: VT323; font-size: 200%;">
				<div class="panel-heading">
					<i class="fa fa-bomb"></i>
					FLAGRANT SYSTEM ERROR
				</div>
				<div class="panel-body">
					<p>Computer Over.</p>
					<p>Virus = Very Yes.</p>
				</div>
			</div>
		</div>
	</div>
</template>
