<template name="appLayout">

<html>
	<head>
		<title>Mandrill</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>

		{{#if currentUser}}
		{{> appSidebar}}
		<div id="appContent">
			<div class="row">
				<div class="col-xs-12">{{yield}}</div>
			</div>
			<hr />
			<p class="small text-muted text-center">
				Mandrill v{{mandrillVersion}}, on Meteor v{{meteorVersion}}
			</p>
		</div>
		{{/if}}

		{{#unless currentUser}}
		{{yield}}
		{{/unless}}

	</body>
</html>
</template>