<head>
	<title>Mandrill</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<template name="appLayout">
	{{#if currentUser}}
	{{> appSidebar}}
	<div id="appContent">
		<div class="row">
			<div class="col-xs-12">{{> yield}}</div>
		</div>
		<hr />
		<p class="app-footer small text-muted text-center">
			Mandrill {{mandrillVersion}} on Meteor {{meteorVersion}}
		</p>
	</div>
	{{/if}}

	{{#unless currentUser}}
	{{> yield}}
	{{/unless}}
</template>