.row {
	margin: 0;
}


.tab-pane {
	padding-top: 15px;
}


.modal {
	z-index: 10000;
}

.modal-dialog {
	width: 80%;
}


div.borderless-container {
	margin: 0 -15px -15px -15px;
}


div.borderless-container .navbar {
	border-radius: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 15px;
	padding-right: 15px;
}



div.mandrill-error {
	position: absolute;
	width: 400px;
	top: 50px;
	left: 50%;
	margin-left: -200px;
	z-index: 10000;
	box-shadow: 5px 10px 14px rgba(0, 0, 0, 0.45);
}


#appContent {
	margin-left: 200px;
}


.mandrill-header h1,
.mandrill-header h2,
.mandrill-header h3,
.mandrill-header h4,
.mandrill-header h5,
.mandrill-header h6 {
	color: #fff;
	text-shadow: 0 -1px 0 #777;
	display: inline-block;
}



.mandrill-header {
	text-align: center;
	box-shadow: inset 10px -5px 10px -7px #000;
	margin: 0 -15px 0 -15px;
	padding: 15px;

	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(55deg,  #1e5799 0%, #2989d8 65%, #207cca 66%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e5799), color-stop(65%,#2989d8), color-stop(66%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(55deg,  #1e5799 0%,#2989d8 65%,#207cca 66%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(55deg,  #1e5799 0%,#2989d8 65%,#207cca 66%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(55deg,  #1e5799 0%,#2989d8 65%,#207cca 66%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(55deg,  #1e5799 0%,#2989d8 65%,#207cca 66%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}


/*
	Meant for use with .mandrill-header to provide a little space between the
	bottom of the header and the body content.
 */
.pad-bottom {
	margin-bottom: 20px;
}




.navbar .pager {
	margin: 10px 0;
}







/* "sticky" paging toolbar */
/* affixed navbars */

.paging-toolbar.affix-top {
	position: static;
}


.paging-toolbar.affix .navbar {
	background-color: rgba(250, 250, 250, 0.93);
	margin: 0;
}

.paging-toolbar.affix {
	position: fixed;
	top: 0;
	left: 200px;
	right: 0;
	box-shadow: 1px 0 5px #000;
	-webkit-transition: box-shadow 250ms;
	     -o-transition: box-shadow 250ms;
	   -moz-transition: box-shadow 250ms;
	    -ms-transition: box-shadow 250ms;
	-kthtml-transition: box-shadow 250ms;
	        transition: box-shadow 250ms;
}


/*
	Make sure the table doesn't jump around when the navbar
	goes from 'static' to 'fixed'. Also make sure we're
	taking into account that the navbar will collapse under
	768px
*/
@media (min-width: 768px) {
	.paging-toolbar.affix ~ table.paging-table {
		margin-top: 76px;
	}
}


@media (max-width: 767px) {
	.paging-toolbar.affix ~ table.paging-table {
		margin-top: 146px;
	}
}
/* /"sticky" paging toolbar */







/* bubble loader animation */
/* A comment on browser-specific prefixes: "You had ONE JOB, W3." */

.bubble-loader {
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 11px;
}
.bubble-loader div {
	-webkit-animation: bubble 1100ms forwards infinite;
	-moz-animation: bubble 1100ms forwards infinite;
	-o-animation: bubble 1100ms forwards infinite;
	animation: bubble 1100ms forwards infinite;
	background: #fff;
	border-radius: 50%;
	box-shadow: 0 0 8px #aaa;
	display: inline-block;
	height: 10px;
	margin: 6px;
	-webkit-transform: scale(0, 0);
	-moz-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	width: 10px;
}
.bubble-loader div:nth-child(2), .bubble-loader div:nth-child(4) {
	-webkit-animation-delay: 125ms;
	-moz-animation-delay: 125ms;
	-o-animation-delay: 125ms;
	animation-delay: 125ms;
}
.bubble-loader div:nth-child(1), .bubble-loader div:nth-child(5) {
	-webkit-animation-delay: 250ms;
	-moz-animation-delay: 250ms;
	-o-animation-delay: 250ms;
	animation-delay: 250ms;
}

@-webkit-keyframes bubble {
	0% {-webkit-transform: scale(0, 0);}
	12% {-webkit-transform: scale(1.5, 1.5);}
	23% {-webkit-transform: scale(0.5, 0.5);}
	34% {-webkit-transform: scale(1.2, 1.2);}
	45% {-webkit-transform: scale(1, 1);}
	85% {-webkit-transform: scale(0, 0);}
}

@-moz-keyframes bubble {
	0% {transform: scale(0, 0);}
	12% {transform: scale(1.5, 1.5);}
	23% {transform: scale(0.5, 0.5);}
	34% {transform: scale(1.2, 1.2);}
	45% {transform: scale(1, 1);}
	85% {transform: scale(0, 0);}
}

@-o-keyframes bubble {
	0% {-o-transform: scale(0, 0);}
	12% {-o-transform: scale(1.5, 1.5);}
	23% {-o-transform: scale(0.5, 0.5);}
	34% {-o-transform: scale(1.2, 1.2);}
	45% {-o-transform: scale(1, 1);}
	85% {-o-transform: scale(0, 0);}
}

@keyframes bubble {
	0% {transform: scale(0, 0);}
	12% {transform: scale(1.5, 1.5);}
	23% {transform: scale(0.5, 0.5);}
	34% {transform: scale(1.2, 1.2);}
	45% {transform: scale(1, 1);}
	85% {transform: scale(0, 0);}
}

/* end bubble loader animation */