@import 'globalVars.import.styl'


html
	background #fff url('/backgroundTile.png') repeat-x top right

body
	background-color transparent
	position relative
	padding 50px 0 0 0


#appContainer
	position fixed
	width 100%
	height 100%
	margin 0
	overflow auto

.row
	margin 0


.tab-pane
	padding-top 15px


.modal-dialog
	width 80%
	.modal-body
		max-height 450px
		overflow auto


div.borderless-container
	margin 0 -15px -15px -15px

	.navbar
		border-radius 0
		margin-left 0
		margin-right 0
		padding-left 15px
		padding-right 15px



.mandrill-header
	text-align center
	box-shadow inset 0px -10px 10px -10px rgba(0,0,0,0.7)
	margin 0 -15px 0 -15px
	padding 15px
	background header_bg_color

	h1, h2, h3, h4, h5, h6
		color #fff
		text-shadow 0 -1px 0 rgba(0, 0, 0, 0.7)
		display block
		font-family 'Lato', sans-serif
		font-weight 300



p.app-footer
	font-family 'Lato', sans-serif
	font-weight 300

/*
	Meant for use with .mandrill-header to provide a little space between the
	bottom of the header and the body content.
 */
.pad-bottom
	margin-bottom 20px




.navbar .pager
	margin 10px 0







/* "sticky" paging toolbar */
/* affixed navbars */

.paging-toolbar.affix-top
	position static


.paging-toolbar.affix .navbar
	background-color rgba(250, 250, 250, 0.93)
	margin 0

.paging-toolbar.affix
	position fixed
	top 50px
	left 0
	right 0
	box-shadow 1px 0 5px #000
	transition box-shadow 250ms


/*
	Make sure the table doesn't jump around when the navbar
	goes from 'static' to 'fixed'. Also make sure we're
	taking into account that the navbar will collapse under
	768px
*/
.paging-toolbar.affix ~ table.paging-table
	@media screen and (min-width: 768px)
		margin-top 75px

	@media screen and (max-width: 767px)
		margin-top 139px

/* /"sticky" paging toolbar */





.panel
	border-color rgb(208, 208, 208)
	border-radius 5px 5px 5px 5px
	box-shadow 0 2px 6px #919293


.panel-heading
	h1, h2, h3, h4, h5, h6
		margin 0


.panel-default
	.panel-heading
		background linear-gradient(to bottom, #fefefe 0%, #f6f6f6 50%, #ededed 51%, #e4e4e4 100%)


.panel-primary
	.panel-heading
		background linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%)





// asana-style form fields (borders are hidden unless mouse over or focus)
input.low-profile
textarea.low-profile
	background-color transparent
	border-radius 3px
	border 1px solid transparent
	box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.0)
	color #777
	height 25px
	padding 1px 5px
	transition all 200ms

	&:hover:not(:focus)
		background-color white
		border 1px solid rgb(203, 203, 203)
		box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)
	&:focus
		background-color white
		border 1px solid rgb(183, 183, 183)
		box-shadow inset 0 1px 1px rgba(0, 0, 0, .075)

	&.search
		width 60px

		&:focus
			outline none
			height 40px
			width 400px
			box-shadow inset 0 1px 1px rgba(0, 0, 0, .1)




// Typeahead classes
.tt-dropdown-menu
	background-color rgba(255, 255, 255, 0.9)
	padding 0px
	box-shadow 0 5px 10px rgba(0, 0, 0, 0.7)
	min-width 170px
	border-radius 3px 3px 5px 5px
	p
		padding 5px
		margin 0
		white-space pre

	.tt-suggestions
		padding 0

		.tt-suggestion:first-of-type
			border-radius 3px 3px 0 0
		.tt-suggestion:last-of-type
			border-radius 0 0 5px 5px

		.tt-suggestion
			margin 0
			white-space nowrap
			color #444
			text-align left
			font-size 12pt
			padding 1px 5px


		.tt-cursor
			background linear-gradient(to bottom, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%)
			color white
			text-shadow 0 -1px 0 rgba(0, 0, 0, 0.7)



// Ace Editor
.mandrill-aceEditor
	display block
	height 560px
