@font-face
	font-family 'Overlock'
	font-style normal
	font-weight 400
	src local('Overlock'), local('Overlock-Regular'), url('/Overlock.woff') format('woff')

@font-face
	font-family 'Overlock'
	font-style normal
	font-weight 700
	src local('Overlock-Bold'), url('/Overlock-Bold.woff') format('woff')

@font-face
	font-family 'Lato'
	font-style normal
	font-weight 300
	src local('Lato Light'), local('Lato-Light'), url('/Lato-Light.woff')
@font-face
	font-family 'Lato'
	font-style normal
	font-weight 400
	src local('Lato Regular'), local('Lato-Regular'), url('/Lato.woff')

@font-face
	font-family 'VT323'
	font-style normal
	font-weight 400
	src local('VT323'), local('VT323-Regular'), url('/VT323.woff') format('woff')

header_bg_color = linear-gradient(55deg,  #1e5799 0%,#2989d8 65%,#207cca 66%,#7db9e8 100%)
header_bg_color_hover = linear-gradient(55deg,  #0e4789 0%,#1979c8 65%,#106cba 66%,#6da9d8 100%)