//@import 'nib'

@font-face
	font-family 'Overlock'
	font-style normal
	font-weight 400
	src local('Overlock'), local('Overlock-Regular'), url('/Overlock.woff') format('woff')

@font-face
	font-family 'Overlock'
	font-style normal
	font-weight 700
	src local('Overlock-Bold'), url('/Overlock-Bold.woff') format('woff')

@font-face
	font-family 'Lato'
	font-style normal
	font-weight 300
	src local('Lato Light'), local('Lato-Light'), url('/Lato-Light.woff')
@font-face
	font-family 'Lato'
	font-style normal
	font-weight 400
	src local('Lato Regular'), local('Lato-Regular'), url('/Lato.woff')

@font-face
	font-family 'VT323'
	font-style normal
	font-weight 400
	src local('VT323'), local('VT323-Regular'), url('/VT323.woff') format('woff')

header_bg_color = linear-gradient(to bottom, rgba(30,87,153,1) 0%, rgba(32,124,202,1) 100%)
