<template name="notFound">
	<div class="mandrill-header">
		<h2>404</h2>
	</div>

	<br />
	<br />
	<span style="font-family: 'Times New Roman'">
		<h3 style="font-family: 'Times New Roman'">The page cannot be found</h3>
		<p>
			The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
		</p>
		<hr />
		<p>
			Please try the following:
			<ul>
				<li>Press &#x2318;+R so many times and so fast.</li>
				<li>Send an angry tweet to your congressional representative(s). They like to know when <em>you</em> are unhappy.</li>
				<li>Give up and do something else. Extreme knitting? I feel like you should have sharp things in your hands right now.</li>
				<li>Take your frustrations out on your systems administrators. You've had a rough day and they need more exposure to other humans anyway.</li>
			</ul>
		</p>
		<p>HTTP 404 - File not found</p>
		<p>Internope Information Services</p>
	</span>
</template>