<template name="accounts">
	<div class="mandrill-header pad-bottom">
		<h2>Accounts</h2>
	</div>

	<p class="lead text-center">
		Only people with accounts listed here will be able to login to Mandrill.
	</p>

	<div class="panel panel-default">
		<div class="panel-heading">
			<form class="form-inline" role="form">
				<div class="form-group">
					<input type="email" data-toggle="tooltip" title="This email address should match a Google or Github address if you want oauth to work properly." class="form-control input-sm" id="new_email" placeholder="Email address" />
				</div>
				<button type="submit" class="btn btn-primary btn-sm">Add New Account</button>
			</form>
		</div>

		<table class="table table-striped table-responsive">
			<thead>
			<tr>
				<th>Access</th>
				<th>Name</th>
				<th>Username</th>
				<th>Email(s)</th>
				<th>Manage</th>
				<th colspan="2">Login Services</th>
			</tr>
			</thead>
			<tbody>
		{{#each accounts}}
			<tr>
				<td>
					<div class="btn-group btn-group-xs">
						{{#unless isCurrentUser}}
							<button type="button" data-toggle="tooltip" data-placement="right" title="<nobr>Toggle {{username}}'s admin status</nobr>" data-toggle-admin="{{_id}}" class="btn
							{{#if mandrill.isAdmin}}btn-success{{/if}}
							{{#unless mandrill.isAdmin}}btn-default{{/unless}}">
								{{#if mandrill.isAdmin}}
								<i class="fa fa-check-square-o"></i>
								{{/if}}
								{{#unless mandrill.isAdmin}}
								<i class="fa fa-square-o"></i>
								{{/unless}}
							</button>
							{{#unless mandrill.isAdmin}}
							<button type="button" data-toggle="tooltip" data-placement="right" title="<nobr>Edit {{username}}'s file access</nobr>" class="btn
								{{#if mandrill.accessPatterns.length}}btn-default{{/if}}
								{{#unless mandrill.accessPatterns.length}}btn-warning{{/unless}}" data-show-access="true">
								<i class="fa fa-pencil-square-o"></i> {{accessPatternsCount}}
							</button>
							{{/unless}}
						{{/unless}}
					</div>
				</td>
				<td class="edit-name">
					<span>{{profile.name}}</span>
					<input type="text" class="form-control hidden" value="{{profile.name}}" />
				</td>
				<td class="edit-username">
					<span>{{username}}</span>
					<input type="text" class="form-control hidden" value="{{username}}" />
				</td>
				<td class="edit-email">
					<span data-toggle="tooltip" title="Click to edit">{{emailAddresses}}</span>
					<textarea class="hidden form-control" data-toggle="tooltip" title="Separate multiple addresses with a comma.">{{emailAddresses}}</textarea>
				</td>
				<td>
					{{#unless isCurrentUser}}
					<div class="btn-group btn-group-xs" style="width: 75px">
						<button type="button"
								title="Log user out"
								class="btn btn-default logout {{#unless isLoggedIn}}disabled{{/unless}}">
							<i class="fa fa-sign-out"></i>
						</button>
						<button type="button"
								title="Reset {{username}}'s local password"
								class="btn btn-default reset-password">
							<i class="fa fa-asterisk"></i>
						</button>

						<button type="button"
								title="{{#if isBanned}}Un-ban this account.{{/if}}{{#unless isBanned}}Ban this account.{{/unless}}"
								class="btn {{#unless isBanned}}btn-default{{/unless}} ban-user {{#if isBanned}}active btn-danger{{/if}}">
							<i class="fa fa-ban"></i>
						</button>
					</div>
					{{/unless}}
				</td>
				<td>{{loginServicesIcons}}</td>
				<td>
					{{#unless isCurrentUser}}
					<a data-toggle="tooltip" title="Delete this account. You can re-create it later if needed." href="#" class="fa fa-trash-o text-danger"></a>
					{{/unless}}
				</td>
			</tr>
		{{/each}}
			</tbody>
		</table>
	</div>
</template>
