nav.appNavbarHidden
	margin-top -52px
	transition margin-top 0.250s


.appNavbar
	// opacity 0.93
	margin-top 0
	box-shadow 0 0 15px rgba(0,0,0,0.8)
	transition margin-top 0.250s


.navbar-brand
	font-family 'Lato', 'Helvetica'
	font-weight 300

	img
		width 20px
		height 20px
		vertical-align text-bottom
