<template name="appNavbar">
	<nav class="navbar navbar-default navbar-fixed-top appNavbar" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mandrillNavMain">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{pathFor 'home'}}">
					<img src="/ManDfav.png"/>andrill <small>v{{mandrillVersion}}</small>
				</a>
			</div>


			<div class="collapse navbar-collapse" id="mandrillNavMain">
				<ul class="nav navbar-nav">

					<li class="{{routeIsActive 'repo'}}{{routeIsActive 'repo_edit'}}">
						<a href="{{pathFor 'repo' params='' }}">
							<img src="/MSC.png" height="20px"/>
							Munki
							<span class="badge">
								{{munki_repo_item_count}}
							</span>
						</a>
					</li>
				</ul>


				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown {{routeIsActive 'me'}}">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-user"></i>
							{{loggedInUserDisplayName}}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu" >
							{{#if isAdmin}}
							<li class="{{routeIsActive "accounts"}}
								{{routeIsActive "accounts-access"}}">
								<a href="{{pathFor 'accounts'}}">
									<i class="fa fa-users"></i>
									Accounts
								</a>
							</li>
							<li class="{{routeIsActive "login-services"}}">
								<a href="{{pathFor 'login-services'}}">
									<i class="fa fa-openid"></i>
									Login Services
								</a>
							</li>
							<li class="{{routeIsActive "mandrill-settings"}}">
								<a href="{{pathFor 'mandrill-settings'}}">
									<i class="fa fa-cogs"></i>
									Mandrill Settings
								</a>
							</li>
							<li class="divider"></li>
							{{/if}}
							<li class="{{routeIsActive "me"}}">
								<a href="{{pathFor 'me'}}">
									<i class="fa fa-user"></i>
									My Account
								</a>
							</li>
							<li>
								<a href="#logout" id="logout">
									<i class="fa fa-sign-out"></i>
									Logout
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</template>
