nav.appNavbarHidden
	margin-top -100px
	transition margin-top 0.5s


.appNavbar
	opacity 0.93
	box-shadow 0 0 15px rgba(0,0,0,0.8)
	margin-top 0
	transition margin-top 0.5s


.navbar-brand
	font-family 'Lato', 'Helvetica'
	font-weight 300

	img
		width 20px
		height 20px
		vertical-align text-bottom
