<template name="accountsAccess">
	<div class="mandrill-header pad-bottom">
		<a href="{{pathFor 'accounts'}}" class="btn btn-default pull-left" role="button">
			<span class="glyphicon glyphicon-chevron-left"></span>
			Accounts
		</a>
		<h2>
			Access Rules for {{user.profile.name}}
		</h2>
	</div>

	<p class="lead text-center">
		Use regular expressions or full directory paths to control what this user can see and modify.
	</p>

	<form class="form" role="form">
	<table class="table table-striped table-responsive">
		<thead>
			<tr>
				<th colspan="3">Rule Pattern</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="2">
					<div class="row">
						<div class="col-xs-12">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">^{{munkiRepoPath}}</span>
								<input type="text" class="form-control" data-new-access-rule="true" placeholder="(pkgsinfo|manifests|catalogs)"/>
								<span class="input-group-addon">
									<input type="checkbox" data-new-access-readonly="true" data-toggle="tooltip" title="Read-only access" />
								</span>
							</div>
						</div>
					</div>
				</td>
				<td>
					<button type="submit" data-toggle="tooltip" title="Add pattern" class="btn btn-link">
						<i class="glyphicon glyphicon-plus-sign text-success"></i>
					</button>
				</td>
			</tr>
			{{#each user.mandrill.accessPatterns}}
			<tr>
				<td colspan="2">
					<div class="row">
						<div class="col-xs-12">
							<div class="input-group input-group-sm">
								<span class="input-group-addon">^{{munkiRepoPath}}</span>
								<input type="text" class="form-control" data-access-pattern="true" placeholder="(pkgsinfo|manifests|catalogs)" value="{{pattern}}" />
								<span class="input-group-addon">
									<input type="checkbox" data-toggle-readonly="true" data-toggle="tooltip" title="Read-only access" {{readOnlyIsChecked}}/>
								</span>
							</div>
						</div>
					</div>
				</td>
				<td>
					<button type="submit" data-toggle="tooltip" data-remove-pattern="true" title="Remove pattern" class="btn btn-link">
						<i class="glyphicon glyphicon-trash text-danger"></i>
					</button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	</form>
</template>