<template name="repo_edit_form_manifest">

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#refm_installs" data-toggle="tab">Installs</a></li>
        <li><a href="#refm_uninstalls" data-toggle="tab">Uninstalls</a></li>
        <li><a href="#refm_optional_installs" data-toggle="tab">Optional Installs</a></li>
        <li><a href="#refm_updates" data-toggle="tab">Updates</a></li>
        <li><a href="#refm_catalogs" data-toggle="tab">Catalogs</a></li>
        <li><a href="#refm_included_manifests" data-toggle="tab">Included Manifests</a></li>
        <li><a href="#refm_conditions" data-toggle="tab">Conditions</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="refm_installs">
            <div class="table-responsive">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th>Package</th>
                            <th>Condition</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each managedInstalls}}
                        <tr>
                            <td>
                                {{>munki_pkg_icon pkg=pkg size="sm"}}
                                {{pkg}}
                            </td>
                            <td>{{condition}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane" id="refm_uninstalls">uninstalls</div>
        <div class="tab-pane" id="refm_optional_installs">optinal installs</div>
        <div class="tab-pane" id="refm_updates">updates</div>
        <div class="tab-pane" id="refm_catalogs">catalogs</div>
        <div class="tab-pane" id="refm_included_manifests">included manifests</div>
        <div class="tab-pane" id="refm_conditions">conditions</div>
    </div>
</template>
