div.repo_edit_tabs_git_logs > div
    max-height 452px
    overflow auto

    // Make the list group items individually scrollable if their content
    // ends up being too wide
    div.list-group-item
        overflow auto
